# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/
env/

# Node
node_modules/
.next/
out/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Testes
.coverage
htmlcov/
.pytest_cache/

# Dados locais
pgdata/
mongodata/
rabbitdata/
miniodata/
